<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </Console>

    <Routing name="DynamicRoutingAppender">
      <Routes pattern="${sys:execOutputDir}">
        <Route>
          <File name="FileAppender-${sys:execOutputDir}"
                fileName="${sys:execOutputDir:-target/exec-outputs/exec}/execution.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
          </File>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="DynamicRoutingAppender"/>
    </Root>
  </Loggers>
</Configuration>
